.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}
.cabecalho{
    background-color: #D0D8F8;
    width: 100%;
    height: 15%;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.descricao{
    margin-top: 10px;
    font-size: 17px; 
    border-radius: 15px;
    width: 95%;
}

.descricao p{
    border-radius: 5px;
    margin-top: 10px;
    margin: 5px;
    padding: 10px;
    color: #000;
    box-shadow: 0px 1px 1px 1px #83838349;
}
.descricao h3{
    color: #7488DA;
}