.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}
.cabecalho{
    background-color: #D0D8F8;
    width: 100%;
    height: 15%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descricao{
    margin-top: 10px;
    font-size: 17px; 
    border-radius: 15px;
    width: 95%;
    padding: 10px;
    box-shadow: 0px 4px 1px 1px #75757549;
}

.descricao p{
    margin: 5px;
}