.home_container{
    width: 100%;
    padding: 1em;
}
.home_container section{
    width: 100%;
}
.home_list{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home_container p{
    font-size: 16;
    margin-bottom: .5em;
    color: #05193C;
}

.home_container h3{
    margin-bottom: 1em;
    color: #05193C;
    text-align: center;
}
