.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;   
    width: 90%;
    margin-top: 7px;
    margin-bottom: 2px;
    border-radius: 20px;
    padding: 15px;
    color: black;
    border-color: #a1a1a185;
    box-shadow: 2px 2px #99bfff8f;
}

.cardTurma{
    display: flex;
    flex-direction: column;
    /* border: solid;    */
    width: 90%;
    font-size: 19px;
    font-weight: 550;
    height: 71px;
    margin-top: 7px;
    margin-bottom: 2px;
    border-radius: 28px;
    padding: 15px;
    text-decoration: none;
    background-color: #ffffff;
    /* border-color: #0050D8; */
    box-shadow: 0px 4px rgba(107, 107, 107, 0.28);
}

.cardTurmaDescricao{
    margin-top: 2px;
    font-size: 14px;
}