.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;   
    width: 90%;
    margin-top: 7px;
    margin-bottom: 2px;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    background-color: #fffce2;
    border-color: #0050D8;
    box-shadow: 2px 2px #004fd88f;
}