.container{
    flex: 1;
    overflow-y: auto;
    width: 100%;
    margin: 0 auto;
}

.min-height{
    padding-top: 3.2em; 
    padding-left: 0.4em;
    padding-right: 0.4em; 
    padding-bottom: 85px;
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}