.container{
    flex: 1;
    overflow-y: auto;
    scrollbar-width: auto;
    width: 100%;
    margin: 0 auto;
}

.min-height{
    padding-bottom: 85px; 
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}