.btn {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 70%;
    background-color: #64A2FF;
    color: #ffffff;
    padding: 0.5em;
    text-decoration: none;
    transition: 0.5s;
    margin: 1em;
    border-radius: 15px;
   
}
.btn span{
    text-align: center;
}
.btn:hover{
    color: #ffbb33;
}