.navbar{
    background-color: #dde3fa;
    padding: 0.2em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.list{
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;   
    text-decoration: none;
}

.item a:hover{
    color: #0050D8;   
}

